
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=html.resolveUrl('~/favicon.ico')%>">
    <title>MOST Web Framework - Classic Server Project</title>
    <!-- Bootstrap core CSS -->
    <link href="<%=html.resolveUrl('~/vendor/bootstrap/css/bootstrap.min.css')%>" rel="stylesheet">
    <link href="<%=html.resolveUrl('~/assets/css/bootstrap-theme.css')%>" rel="stylesheet">
    <!-- Custom styles for this template -->
    <%-stylesheets%>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">@theMOST</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="<%=html.resolveUrl('~/')%>">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%=html.resolveUrl('~/users/me/')%>">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%=html.resolveUrl('~/users/dashboard/')%>">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content -->
        <%- body %>
        </body>
        <!-- Bootstrap core JavaScript -->
        <script src="<%=html.resolveUrl('~/vendor/jquery/jquery.min.js')%>"></script>
        <script src="<%=html.resolveUrl('~/vendor/bootstrap/js/bootstrap.bundle.min.js')%>"></script>
        <%- scripts %>
</html>
